/*CSS Animation-*/

.imageanimation { 
    position: absolute;
    left: 100%;
    top: 0px;
    -webkit-animation: moveToLeft 50s linear infinite;
    animation: moveToLeft 10s linear infinite;
}

@-webkit-keyframes moveToLeft {
    from {left: 100%;}
    to {left: 0%;}
}

@keyframes moveToLeft {
    from {left: 100%;}
    to {left: 0%;}
}

#newimg {
	opacity: 0;
	display:block;
	margin: auto;
   height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
	transition: opacity 5s;
    position: center;
}

/*CSS Product Section-*/


.col-6 {   display:block;
	 
       border: white;
    border: 1px solid #ddd;
  border-radius: 4px;
    
}
    
.product {
    display:block;
	margin: auto;
   height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    align-content: left;
    border: white;
    border: 1px solid #ddd;
  border-radius: 4px;
    
  
}
.button-container {
 display: flex; justify-content: center;}


/*CSS Contact Us Section -*/



label {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: center
}

    input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: 3px solid #;
    border-radius: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

    input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: 3px solid ##d0e2c7;
    border-radius: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.select { display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;}


/*Back to Top Button*/
  #myBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 5%;
        left: 95%;
        max-width: 50px;
        width: 100%;
        font-size: 12px;
        border-color: black;
      font-family: 'lato', sans-serif;
        background-color: #c6c8c3;
        padding: 5px;
        border-radius: 4px;

    }
#myBtn:hover {
        background-color: #d0e2c7;
    }

/*end of back to top button*/